[user]
	email = felipebiaggi@gmail.com
	name = Felipe Biaggi Carvalho
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
